.crc-page {
  gap: 1.5rem;
  width: 100vw;
  display: flex;
  padding: 2rem;
  min-height: 100vh;
  align-items: center;
  background-color: white;
  flex-direction: column;
}

.input-container, .text-container {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  padding: 1rem;
  max-width: 600px;
  border-radius: 12px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.input-container h1,
.text-container h1 {
  margin: 0;
  color: black;
  font-size: 1rem;
}

.input {
    outline: none;
    font-size: 1rem;
    border-radius: 8px;
    padding: 0.7rem 1rem;
    border: 1px solid #cccccc;
    transition: border 0.3s ease-in-out;
}

.input:focus {
  border-color: #002642;
}

.output-text {
  color: #444444;
  font-size: 1rem;
  word-break: break-all;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

.buttons-container {
    gap: 1rem;
    display: flex;
}