.link-state-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: auto;
}

.link-state-right-container {
    width: 100%;
    height: 100%;
}

.link-state-left-container {
    gap: 1rem;
    width: 55%;
    height: 100vh;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
}

.add-table-container h2, .network-topology-container h2{
    text-align: center;
}

.options-link-state-list {
    margin: 0;
    gap: 0.5rem;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}


.add-table-container, .network-topology-container{
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.add-table-container {
    margin-top: 2rem;
}

.form-header-container {
    gap: 1rem;
    display: flex;
    padding: 0.5rem;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
}

.form-body-container {
    gap: 1rem;
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;
}

.links-list {
    overflow-y: auto;
    max-height: 200px;    
    width: fit-content;
}

.link-item {
    gap: 0.5rem;
    display: flex;
    margin: 1rem 0;
    align-items: center;
}

.link-item input {
    width: 10rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.tables-links-container {
    flex: 1;
    gap: 1rem;
    min-height: 0;
    display: grid;
    padding: 0.5rem;
    overflow-y: auto;
    grid-template-columns: repeat(3, 1fr);
}

.network-topology-container {
    flex: 1;
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    overflow: hidden; 
    border-radius: 1rem;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.link-state-table {
    height: fit-content;
}

